<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618380891921-uhh2rttd1vo972vn986akdf4loa7jfhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618380891921-uhh2rttd1vo972vn986akdf4loa7jfhs</string>
	<key>API_KEY</key>
	<string>AIzaSyDYkDUyEMjKjqfkDo31TqM_nlGLVBMvBUU</string>
	<key>GCM_SENDER_ID</key>
	<string>618380891921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apps.Rfilomeno.Agenda3</string>
	<key>PROJECT_ID</key>
	<string>agenda-notification-a2d73</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-notification-a2d73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618380891921:ios:a039a62262a9f689</string>
	<key>DATABASE_URL</key>
	<string>https://agenda-notification-a2d73.firebaseio.com</string>
</dict>
</plist>